
<section class="resume-section" id="iletisim">
    <div class="resume-section-content">
        <form method="post">

            <h2 class="mb-5">İletişim Formu</h2>
            <label>Ad Soyad</label>
            <input type="text" class="form-control" name="AdSoyad" />

            <label>Mail</label>
            <input type="email" class="form-control" name="Mail" />

            <label>Konu</label>
            <input type="text" class="form-control" name="Konu" />

            <label>Mesaj</label>
            <input type="text" class="form-control" name="Mesaj" />
            <br />
            <button class="btn btn-info">Gönder</button>
        </form>
    </div>
</section>