@using Mvc_ile_cv.Models.Entity
@model List<TBL_Sertifikalarim>
<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Sertifikalarım</h2>
        <ul class="fa-ul mb-0">
            @foreach (var x in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                    @x.Aciklama
                </li>
            }
            </ul>
        
        </div>
    </section>